* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  background: #020617;
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
}

.section {
  padding: 100px 50px;
}

.skill {
  margin: 15px 0;
}

.bar {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.bar div {
  height: 10px;
  background: #38bdf8;
}

.card, .project-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}
